.App {
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3");
}
.container {
    width: 60%;
    margin: 0 auto;
}

.container input {
  width: 70%;
  clear: both;
}


form {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.button-container {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  display: center;
  clear: both;
  display: block;
}

input[type="text"] {
             display: block;
             margin : 0 auto;
             padding: 8px;
        }

input[type="password"] {
            display: block;
            margin : 0 auto;
            padding: 8px;
        }

select, textarea {
    display: inline-block;
    align-items: center;
    width: 45%;
    margin: 10px 260px;
    padding: 8px;
}

label {
  display: block;
  align-items: center;
  text-align: center;
}

.select {
  background-color: DodgerBlue;
}



.App-header {
  background-color: #e3e3ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 4, 4);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
