.audittrail{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(8, 8, 8,0.2);

    display: flex;
    justify-content: center;
    align-items: center;

}

.audittrail-inner{
    position: relative;
    display: block;
    padding: 32px;
    width:100%;
    max-width: 640px;
    background-color: beige;
}

.audittrail-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}